<app-navBar></app-navBar>
<div class="container">
  <div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Capgemini foot</h4>
                <h5 class="card-subtitle my-3">Liste des Matchs</h5>
            
        <!-- title -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Phase de Groupe</th>
                <th scope="col">Phase d'élimination</th>
                <th scope="col">Date de Match</th>
                <th scope="col">Site</th>
                <th scope="col">Team Home</th>
                <th scope="col">Team Away</th>
                <th scope="col">Score Team Home</th>
                <th scope="col">Score Team Away</th>
                <th scope="col">Score Match</th>
                <th scope="col">Etat de Match</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let match of matchs'>
                <td>{{match.groupePhase}}</td>
                <td>{{match.directEliminationPhase}}</td>
                <td>{{match.matchDate}}</td>
                <td>{{match.site}}</td>
                <td>{{match.teamHome?.name}}</td>
                <td>{{match.teamAway?.name}}</td>
                <td>{{match.scoreHome}}</td>
                <td>{{match.scoreAway}}</td>
                <td>{{match.scoreHome}}:{{match.scoreAway}}</td>
                <td>{{match.matchState}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>    
</div>
