<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="card-header">
            <h4 class="card-title">Capgemini Foot</h4>
                <h5 class="card-subtitle">Liste des tournois</h5>
                <button type="button" (click)="goToAddChampion();" class="btn btn-info"><i class="fa fa-plus"></i> Ajouter Tournoi</button>
        </div>
                
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Date debut</th>
                        <th class="text-dark font-medium fs-4">Date fin</th>
                        <th class="text-dark font-medium fs-4">Etat</th>
                        <th class="text-dark font-medium fs-4">progress</th>
                        <th class="text-dark font-medium fs-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let champion of champions'>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{champion.label}}</h5>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{champion.startDate}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{champion.endDate}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{champion.statut}}</h5>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="champion.progress" disabled>
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                              </div>
                        </td>
                        <td style="display: flex;">
                                 <h5 class="mb-0 fw-normal">
                                <button type="button"   class="btn btn-link" (click)="goToUpdate(champion.id)"><i class="bi bi-pencil-square"></i></button>
                                 </h5>
                                <h5 class="mb-0 fw-normal">
                                    <button type="button"   class="btn btn-link"(click)="openPopup(champion.id)"><i class="bi bi-trash"></i></button>
                                </h5>     
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        <div class="row" *ngIf="teamWinner">
            <!-- column -->
            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card bg-info text-white">
                <div class="card-body">
                    <h4 class="card-title text-white">L'équipe vainqueur : </h4>
                    <span class="card-text" style="font-size: 2rem;">
                       <strong> {{teamWinner.name}} </strong>
                    </span>
                </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>


    <!-- Delete Modal-->
  
  <!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Confirmation de suppression</h4>
	</div>
	<div class="modal-body">
		<p>Êtes-vous sûr de vouloir supprimer</p>

	</div>
    
	<div class="modal-footer" *ngIf="idToDelete">
        <button type="button" class="btn btn-danger"
				(click)="closePopup()">
		Annuler
		</button>
        <button type="button" class="btn btn-success"
				(click)="deleteChampionship(idToDelete)">
	    Valider
		</button>
		
	</div>
	</div>
</div>
</div>

    
</div>