<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe A</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupA">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe B</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupB">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe C</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupC">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe D</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupD">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe E</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupE">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe F</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupF">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}} </h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe G</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupG">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}} </h5>
                            
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}} </h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Groupes</h4>
          <h5 class="card-subtitle text-muted">Groupe H</h5>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-center">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4 td-meduim">Equipe</th>
                       
                        <th class="text-dark font-medium fs-4 td-meduim">Points</th>
                        <th class="text-dark font-medium fs-4 td-meduim">Joués</th>
                        <th class="text-dark font-medium fs-4 td-meduim">V</th>
                        <th class="text-dark font-medium fs-4 td-meduim">D</th>
                        <th class="text-dark font-medium fs-4 td-meduim">N</th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of groupH">
                    <tr>
                        <td class="fs-4">
                            <h5 class="mb-0 font-medium">{{group.teamName}}</h5>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.cumulPoint}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch +group.nbLossMatch +group.nbDrawMatch}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbWonMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbLossMatch}} </h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{group.nbDrawMatch}} </h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
</div>

  